target/
.idea/
*.iml
.vscode/
*.log

.DS_Store
quality-gate-report.md
evidencias/Laboratorio3-CI-Seguro.html
evidencias/capturas/
evidencias/Laboratorio3-CI-Seguro.pdf
evidencias/labs-local/DevSecOps-Labs-Locales.html
evidencias/labs-local/DevSecOps-Labs-Locales.pdf
evidencias/labs-local/capturas/
